<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>개발자 임채원 입니다.</title>
</head>
<body>
<nav>
  <a href="/blog/">Blog</a>
  <a href="/about_me/">About me</a>
</nav>

<h1>안녕하세요. 임채원입니다</h1>
<h2>이력</h2>
<h2>Portfolio</h2>
<h3>https://github.com/dla9944
머신러닝 엔지니어, 데이터 엔지니어& 사이언티스트를 희망중입니다. <br>
2019-2020 농수축산물 가격 동향 분석 서울특별시의 시장, 대형마트의 농수축산물 가격 동향을 머신러닝 모델 5가지를 통해 분석했습니다.<br>
Linear regression,Decision Tree,Random forest,LightGBM.<br>
위 모델 적용 후, MSE, RMSE, 결정계수 분석</h3>
<a href="https://colab.research.google.com/drive/1pcspaHC1dsKSCQ4CBRIRfjMb8wZHlRIS?usp=sharing"></a>

<hr>
<h3>세상에 없던 포켓몬스터 발생_GAN 활용. GAN (생성자 적대적 신경망) 모델을 사용해서 새로운 포켓몬 이미지를 제작했습니다<br>
800종의 포켓몬으로 학습 후 이미지 생성. 20명 대상으로 퀴즈 게임 진행</h3>
<a href="https://colab.research.google.com/drive/1MJcjwnlM4vFa7OzH7jJRPQq0sMb4SUMp?usp=sharing"></a>
</body>
</html>